* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 24px;
    padding: 2rem;
}

.container {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    background-color: lightblue;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.container::after, .item {
    border: 2px solid red;
    flex: 0 0 30%;
    margin-bottom: 5%;
}

.container::after {
    display: block;
    content: '';
    border: none;
    margin-bottom: 0;
}